# First Lets install PySpark

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=48cd4fe3c8f498171e336b5f8d889640b941bd7912cab2c764a4d035669fb1f4
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
## start the spark sessio:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('basics_of_pyspark').getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/machine learning_cdac/Datasets/Airquality.csv")

In [ ]:
df.show()

+-----+-------+----+----+-----+---+
|  _c0|    _c1| _c2| _c3|  _c4|_c5|
+-----+-------+----+----+-----+---+
|Ozone|Solar.R|Wind|Temp|Month|Day|
|   41|    190| 7.4|  67|    5|  1|
|   36|    118|   8|  72|    5|  2|
|   12|    149|12.6|  74|    5|  3|
|   18|    313|11.5|  62|    5|  4|
|   NA|     NA|14.3|  56|    5|  5|
|   28|     NA|14.9|  66|    5|  6|
|   23|    299| 8.6|  65|    5|  7|
|   19|     99|13.8|  59|    5|  8|
|    8|     19|20.1|  61|    5|  9|
|   NA|    194| 8.6|  69|    5| 10|
|    7|     NA| 6.9|  74|    5| 11|
|   16|    256| 9.7|  69|    5| 12|
|   11|    290| 9.2|  66|    5| 13|
|   14|    274|10.9|  68|    5| 14|
|   18|     65|13.2|  58|    5| 15|
|   14|    334|11.5|  64|    5| 16|
|   34|    307|  12|  66|    5| 17|
|    6|     78|18.4|  57|    5| 18|
|   30|    322|11.5|  68|    5| 19|
+-----+-------+----+----+-----+---+
only showing top 20 rows

In [ ]:
### .option function to get the column names instaed of c0_string :

df = spark.read.option('header','true').csv("/content/drive/MyDrive/machine learning_cdac/Datasets/Airquality.csv")

In [ ]:
df.show()

+-----+-------+----+----+-----+---+
|Ozone|Solar.R|Wind|Temp|Month|Day|
+-----+-------+----+----+-----+---+
|   41|    190| 7.4|  67|    5|  1|
|   36|    118|   8|  72|    5|  2|
|   12|    149|12.6|  74|    5|  3|
|   18|    313|11.5|  62|    5|  4|
|   NA|     NA|14.3|  56|    5|  5|
|   28|     NA|14.9|  66|    5|  6|
|   23|    299| 8.6|  65|    5|  7|
|   19|     99|13.8|  59|    5|  8|
|    8|     19|20.1|  61|    5|  9|
|   NA|    194| 8.6|  69|    5| 10|
|    7|     NA| 6.9|  74|    5| 11|
|   16|    256| 9.7|  69|    5| 12|
|   11|    290| 9.2|  66|    5| 13|
|   14|    274|10.9|  68|    5| 14|
|   18|     65|13.2|  58|    5| 15|
|   14|    334|11.5|  64|    5| 16|
|   34|    307|  12|  66|    5| 17|
|    6|     78|18.4|  57|    5| 18|
|   30|    322|11.5|  68|    5| 19|
|   11|     44| 9.7|  62|    5| 20|
+-----+-------+----+----+-----+---+
only showing top 20 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
## reading 1st row of a dataframe
df.head()

## To know the Datatypes of dataframe columns:

1.

In [ ]:
## to get info of a datframe
df.printSchema()

root
 |-- Ozone: string (nullable = true)
 |-- Solar.R: string (nullable = true)
 |-- Wind: string (nullable = true)
 |-- Temp: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Day: string (nullable = true)

In [ ]:
## by default pyspark take data type as string as seen above, we had to pass inferSchema=True

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/machine learning_cdac/Datasets/Airquality.csv",header=True,inferSchema=True)

In [ ]:
df.printSchema()   ## we can see the difference in datatype.

root
 |-- Ozone: string (nullable = true)
 |-- Solar.R: string (nullable = true)
 |-- Wind: double (nullable = true)
 |-- Temp: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Day: integer (nullable = true)

2.

In [ ]:
df.columns

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

3.

In [ ]:
df.head(5)

[Row(Ozone='41', Solar.R='190', Wind=7.4, Temp=67, Month=5, Day=1),
 Row(Ozone='36', Solar.R='118', Wind=8.0, Temp=72, Month=5, Day=2),
 Row(Ozone='12', Solar.R='149', Wind=12.6, Temp=74, Month=5, Day=3),
 Row(Ozone='18', Solar.R='313', Wind=11.5, Temp=62, Month=5, Day=4),
 Row(Ozone='NA', Solar.R='NA', Wind=14.3, Temp=56, Month=5, Day=5)]

4.  To select particular column:

In [ ]:
df.select('Ozone') ## return type is dataframe

DataFrame[Ozone: string]

In [ ]:
df.select('Ozone').show(2)

+-----+
|Ozone|
+-----+
|   41|
|   36|
+-----+
only showing top 2 rows

## selecting multiple columns:

In [ ]:
df.select(['Ozone','Wind']).show(5)

+-----+----+
|Ozone|Wind|
+-----+----+
|   41| 7.4|
|   36| 8.0|
|   12|12.6|
|   18|11.5|
|   NA|14.3|
+-----+----+
only showing top 5 rows

5. DTYPES:

In [ ]:
df.dtypes

[('Ozone', 'string'),
 ('Solar.R', 'string'),
 ('Wind', 'double'),
 ('Temp', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

### we can also use pandas describe :

In [ ]:
df.describe().show()

+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+
|summary|            Ozone|           Solar.R|             Wind|             Temp|             Month|               Day|
+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+
|  count|              153|               153|              153|              153|               153|               153|
|   mean|42.12931034482759|185.93150684931507| 9.95751633986928|77.88235294117646| 6.993464052287582|15.803921568627452|
| stddev|32.98788451443395| 90.05842222838169|3.523001352212597|9.465269740971461|1.4165224840123158|  8.86452036842542|
|    min|                1|               101|              1.7|               56|                 5|                 1|
|    max|               NA|                NA|             20.7|               97|                 9|                31|
+-------+-----------------+------------------+-----------------+-----------------+------------------+------------------+

6. ADDING COLUMNS :

In [ ]:
# to add extra column with constatnt value, we use function lit:
from pyspark.sql.functions import lit
df = df.withColumn('Year',lit('2022'))

In [ ]:
df.show()

+-----+-------+----+----+-----+---+----+
|Ozone|Solar.R|Wind|Temp|Month|Day|Year|
+-----+-------+----+----+-----+---+----+
|   41|    190| 7.4|  67|    5|  1|2022|
|   36|    118| 8.0|  72|    5|  2|2022|
|   12|    149|12.6|  74|    5|  3|2022|
|   18|    313|11.5|  62|    5|  4|2022|
|   NA|     NA|14.3|  56|    5|  5|2022|
|   28|     NA|14.9|  66|    5|  6|2022|
|   23|    299| 8.6|  65|    5|  7|2022|
|   19|     99|13.8|  59|    5|  8|2022|
|    8|     19|20.1|  61|    5|  9|2022|
|   NA|    194| 8.6|  69|    5| 10|2022|
|    7|     NA| 6.9|  74|    5| 11|2022|
|   16|    256| 9.7|  69|    5| 12|2022|
|   11|    290| 9.2|  66|    5| 13|2022|
|   14|    274|10.9|  68|    5| 14|2022|
|   18|     65|13.2|  58|    5| 15|2022|
|   14|    334|11.5|  64|    5| 16|2022|
|   34|    307|12.0|  66|    5| 17|2022|
|    6|     78|18.4|  57|    5| 18|2022|
|   30|    322|11.5|  68|    5| 19|2022|
|   11|     44| 9.7|  62|    5| 20|2022|
+-----+-------+----+----+-----+---+----+
only showing top 20 rows

## DROPPING THE COLUMNS

In [ ]:
df = df.drop('Year')
df.show()

+-----+-------+----+----+-----+---+
|Ozone|Solar.R|Wind|Temp|Month|Day|
+-----+-------+----+----+-----+---+
|   41|    190| 7.4|  67|    5|  1|
|   36|    118| 8.0|  72|    5|  2|
|   12|    149|12.6|  74|    5|  3|
|   18|    313|11.5|  62|    5|  4|
|   NA|     NA|14.3|  56|    5|  5|
|   28|     NA|14.9|  66|    5|  6|
|   23|    299| 8.6|  65|    5|  7|
|   19|     99|13.8|  59|    5|  8|
|    8|     19|20.1|  61|    5|  9|
|   NA|    194| 8.6|  69|    5| 10|
|    7|     NA| 6.9|  74|    5| 11|
|   16|    256| 9.7|  69|    5| 12|
|   11|    290| 9.2|  66|    5| 13|
|   14|    274|10.9|  68|    5| 14|
|   18|     65|13.2|  58|    5| 15|
|   14|    334|11.5|  64|    5| 16|
|   34|    307|12.0|  66|    5| 17|
|    6|     78|18.4|  57|    5| 18|
|   30|    322|11.5|  68|    5| 19|
|   11|     44| 9.7|  62|    5| 20|
+-----+-------+----+----+-----+---+
only showing top 20 rows

## Renaming the Columns:

In [ ]:
df.withColumnRenamed('Solar.R','Solar').show(5)

+-----+-----+----+----+-----+---+
|Ozone|Solar|Wind|Temp|Month|Day|
+-----+-----+----+----+-----+---+
|   41|  190| 7.4|  67|    5|  1|
|   36|  118| 8.0|  72|    5|  2|
|   12|  149|12.6|  74|    5|  3|
|   18|  313|11.5|  62|    5|  4|
|   NA|   NA|14.3|  56|    5|  5|
+-----+-----+----+----+-----+---+
only showing top 5 rows